.login{
    border:15px solid rgb(123, 123, 250);
    margin: 100px 900px 100px 50px;
    padding: 5px;
}
.image{
    margin: 10px;
    padding: 0px 200px;
}
.form{
    margin:10px 150px ;
    padding: 10px 0px;
}
.form button{
    background-color:rgb(123, 123, 250);
    margin: 20px 0px 0px;
    padding: 5px 70px;
}
.form input{
    margin: 0px 0px 10px;
    padding: 5px 70px;
}